h1{
    text-align: center;
}
table{
    text-align: center;
    border: black 4px solid;
}
td{
    border:black 1px solid;
}
.casa{
    width: 163.6px;
}
.casillaNormal{
    width: 75px;
}
.casillaPasillo{
    width: 100px;
}
.cajaNegra{
    width: 22px;
    background-color: black;
}
.amarillo{
    background-color: yellow;
}
.verde{
    background-color: green;
}
.azul{
    background-color: blue;
}
.rojo{
    background-color: red;
}